<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">
            <!-- 
                Ícone de abrir o menu com algumas funcionalidades de 
                acessibilidade (teclado): 
                - tabindex
                - keyup
            -->
            <fa-icon 
                tabindex="0" 
                (keyup.space)="menu.toggle()" 
                (click)="menu.toggle()" 
                aria-hidden="true" [icon]="faBars" class="fa fa-bars mr-2">
            </fa-icon>
            BOLSONARO 22
        </a>

        <!-- 
            Componente "Menu" identificado para que o próprio 
            template tenha acesso a ele 
        -->
        <ap-menu #menu>
            <ul class="list-unstyled">
                <li><a [routerLink]="['bolsonaro','quemsou']">Quem Sou</a></li>
                <li><a [routerLink]="['bolsonaro','eusou']">Eu Sou</a></li>
            </ul>
        </ap-menu>
    </nav>
    <div class="fixed-top">
       <ap-loading></ap-loading>
        <ap-alert></ap-alert>
    </div>
</header>