<p class="text-center text-muted" *ngIf="!photos.length"> 
    Sorry, no photos
</p>

<ol class="list-unstyled">
    <li *ngFor="let cols of rows" class="row no-gutters">
        <div *ngFor="let photo of cols" class="col-4" apDarkenOnHover brightness="30%">
            <a [routerLink]="['/p', photo.id]">
                <ap-card [title]="photo.description">
                    <ap-photo 
                        [url]="photo.url" 
                        [description]="photo.description">
                    </ap-photo>
                    <div class="text-center p-1">
                        <fa-icon 
                            aria-hidden="true" 
                            ngbTooltip="Click to like" 
                            placement="right" 
                            [icon]="faHeart" 
                            class="fa-1x mr-2"></fa-icon>{{ photo.likes }}
                        <fa-icon 
                            aria-hidden="true" 
                            ngbTooltip="Click to comment" 
                            placement="right"
                            [icon]="faComment" 
                            class="fa-1x mr-2 ml-2"></fa-icon>{{ photo.comments }}
                    </div>
                </ap-card>
            </a>
        </div>
    </li>
</ol>